{% extends 'base.html' %}
{% load static %}
{% block ac-title %}
    User Login
{% endblock ac-title %}

{% block d-content %}
<div class="logo text-center" id="main_logoa">
  <a href="">
      <img src="{% static '/img/logo.png' %}" alt="">
  </a>
</div>
<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">Reset Password</p>
<h3>Hurray! Your password has been changed.</h3>
<a href="/login">Click here to Login</a>  

  </div>
  <!-- /.form-box -->
</div><!-- /.card -->
 

{% endblock d-content %} 


