{% extends 'base.html' %}
{% load static %}
{% block ac-title %}
    User Login
{% endblock ac-title %}

{% block d-content %}
<div class="logo text-center" id="main_logoa">
  <a href="">
      <img src="{% static '/img/logo.png' %}" alt="">
  </a>
</div>
<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">Reset Password</p>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>                    


  </div>
  <!-- /.form-box -->
</div><!-- /.card -->
 

{% endblock d-content %} 


