{% extends 'base.html' %}
{% load static %}
{% block ac-title %}
    User Login
{% endblock ac-title %}

{% block d-content %}
<div class="logo text-center" id="main_logoa">
  <a href="">
      <img src="{% static '/img/logo.png' %}" alt="">
  </a>
</div>
<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">Reset Password</p>

<p>We have sended you reset password link on your email. Please Check Your Email.</p>
<a href="{% url 'users:login' %}">Back to Login Page</a>



  </div>
  <!-- /.form-box -->
</div><!-- /.card -->
 

{% endblock d-content %} 
