{% extends 'base.html' %}
{% block d-title %}
    All JobCard's List
{% endblock d-title %} 

{% block d-content %} 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12"> 
          <h1 class="m-0 text-dark float-left w-75">JobCard List</h1> 
          <a href="{% url 'users:add_jobcard' %}" class="btn btn-success float-right text-right">Add New JobCard</a>
        </div> 
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div> 
<section class="invest_request_area">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-12">

                   {% if messages %}
            <div class="msg-bg">
            {% for message in messages %}
            
          {% if message.tags == "error" %}
                <div class="error_msg">
                    <p style="color: red;"><i class="fas fa-exclamation-triangle"></i> {{message}}</p>
                </div>
          {% else %}
                <div class="success_msg">
                    <p><i class="fas fa-check-circle"></i> {{message}}</p>
                </div>
             {% endif %} 
                      
            {% endfor %}
                 </div>
        {% endif %} 


                <table class="table table-bordered table-striped text-center" id="myTable">
                    <thead class="table-dark">
                        <th>SL</th>
                        <th>JobCard ID</th> 
                        <th>Problem</th>
                        <th>Status</th> 
                        <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                        
                        {% for user_jobcard_listt in user_jobcard_list %}
                            <tr>
                                <td class="align-middle">{{forloop.counter0|add:user_jobcard_list.start_index}}</td>
                                 <td class="align-middle">CCN{{user_jobcard_listt.id}}</td>
                                <td class="align-middle">
                                 {% if j_list.problemcategory == '2' %}
                                        <span>Internet</span>
                                {% elif j_list.problemcategory == '3' %}
                                        <span>Printer</span>

                                    {% else %}
                                        <span style="color: red;">Other</span>
                                    {% endif %} 
                                </td>
                                

                        
                                </td>
                                <td class="align-middle"> 
                                    {% if user_jobcard_listt.status %}
                                        <span>Closed</span>
                                    {% else %}
                                        <span style="color: red;">Pending</span>
                                    {% endif %} 
                                </td>
                                <td class="align-middle text-center">
<a href="{% url 'users:trace-jobcard' user_jobcard_listt.id %}" class="btn btn-warning btn-sm d-inline-block mr-1">Trace</a>                      
                                </td> 
                                 
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>

                
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
   
   {% if user_jobcard_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?pgae={{ user_jobcard_list.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

<li class="page-item"><a class="page-link" href="?page=1">1</a></li>


    {% if user_jobcard_list.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ user_jobcard_list.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    
    </li>
    {% endif %}
  </ul>
</nav>


            </div>









        </div>
    </div>
</section> 

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>

{% endblock d-content %} 
{% block d-script %}
    <script> 
    </script>

{% endblock d-script %}